img.img-black-white {
  filter: grayscale(100%);
  filter: url(#greyscale);
  filter: gray;
  -webkit-filter: grayscale(1);
}
img.img-custom {
/*
  max-height: 400px;
  max-width: 289px;
*/
  width: 400px;
  height: 289px;
}
